@CHARSET "UTF-8";
/*
 * style.css 
  */


@font-face {

      font-family: "segoe";
      src: url("font/segoe.otf") format("truetype");

      }

.segoe-font{
    font-family: "segoe";
    font-size: 25px; 
       } 


@font-face {

      font-family: "BebasNeue";
      src: url("font/BebasNeue.otf")format("truetype");

      }

.BebasNeue-font{
    font-family: "BebasNeue";
    font-size: 25px; 
       } 


.row {
	clear: left;
}

.column {
	float: center;
	padding: 1px;
	align-items: center;
	text-align: center;
}

table{
  width: 100%;
  margin-bottom : .5em;  
  text-align: center;
}

.table1{
  width: 50%;
  margin-bottom : .5em;
  table-layout: fixed;
  text-align: center;
}


body {
	background-image: url(img/estac.gif);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #0000
}

head {
		
}

p {
	font-family: roboto;
	font-size: 20px;
	color: black;
}

h1 { 
	font-family: BebasNeue;	
	text-align: center;		
	}

.bt {
	margin: 0 50px;
	border: 2px solid #25692A;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	font-family: BebasNeue;	
	text-transform: uppercase;			
	box-shadow: 0 5px 0 #006000
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.content-box {
  color: white;
  text-align: center;
  width: 1000px;
}